
<!DOCTYPE html>
    <html>
    <head>
        <title>Server Error</title>
        <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
    </head>
    <body>
    <h3>Woops...</h3>
    <div>Ett Serverfel inträffade.</div>
    </body>
    </html>