@model InsertBreedVM
@{
	ViewBag.Title = "Insert Dogbreed";
}


<div class="row">
	<div class="col col-sm-10 col-md-6  mx-auto border p-3 bg-secondary">

		<form asp-controller="Breeds" asp-action="InsertBreed" method="POST">

			<input asp-for="BreedName" class="form-control mb-2" />
			<span class="text-danger mb-2" asp-validation-for="BreedName"></span>
			<!--
			<input asp-for="BreedType" class="form-control mb-2" />
			-->
			<select asp-for="BreedType" id="valg" class="form-control mb-2">
				@foreach(var item in Model.BreedTypes)
				{
					<option value=@item.Id>@item.BreedTypeName</option>
				}
			</select>
			<input type="hidden" asp-for="BreedTypes" value="null"/>

			<span class="text-danger mb-2" asp-validation-for="BreedType"></span>


				<input asp-for="Description" class="form-control mb-2" />
				<span class="text-danger mb-2" asp-validation-for="Description"></span>

				<input type="submit" value="Insert Breed" class="form-control mb-2 bg-primary" />

				<!-- button type="submit">Insert</button -->


			</form>


		</div>
	</div>



@section Scripts {
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"
			asp-fallback-src="~/scripts/lib/jquery/jquery.min.js"
			asp-fallback-test="window.jQuery" ></script>

	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js"
			asp-fallback-src="~/scripts/lib/jquery-validate/jquery.validate.min.js"
			asp-fallback-test="$.validator"></script>

	<script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"
			asp-fallback-src="~/scripts/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
			asp-fallback-test="$.validator.unobtrusive"></script>

	<!--	asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive" -->
    }